.highcharts-name-unclaimed {
				fill: rgba(15, 149, 20, 0.2);
			}
			.highcharts-name-Wild-Ninjas {
				fill: rgba(153, 51, 0, 0.7);
			}
			.highcharts-name-Rebel-Federation {
				fill: rgba(0, 0, 0, 0.7);
			}
			.highcharts-name-Elite-Guardians {
				fill: rgba(128, 128, 128, 0.7);
			}
			.highcharts-name-Pizza-Federation {
				fill: rgba(6, 160, 20, 0.8);
			}
			.highcharts-name-Templars {
				fill: rgba(247, 189, 38, 0.7);
			}
			.highcharts-name-PL-Fisherman {
				fill: rgba(130, 58, 29, 0.7);
			}
			.highcharts-name-Walrus-Republic {
				fill: rgba(37, 176, 189, 0.7);
			}
			.highcharts-name-Royals {
				fill: rgba(223, 94, 83, 0.7);
			}
			.highcharts-name-Fire-Nation {
				fill: rgba(255, 85, 0, 0.7);
			}
			.highcharts-name-Dragons {
				fill: rgba(164, 25, 25, 0.7);
			}
			.highcharts-name-UMA {
				fill: rgba(175, 16, 16, 0.7);
			}
			.highcharts-name-Help-Force {
				fill: rgba(0, 0, 255, 0.5);
			}
			.highcharts-name-Light-Troops {
				fill: rgba(244, 232, 66, 0.5);
			}
			.highcharts-name-Templars-and-NVA {
				fill: rgba(199, 244, 65, 0.7);
			}
